<form action='/admin/multiInsert' method="POST" enctype="multipart/form-data">
    <input type="file" name="productImage"  multiple="multiple"  placeholder="insert the image of product" class="form-control" />
    <input type="file" name="productImage2" multiple="multiple" placeholder="insert the image of product" class="form-control"  />
    <input type="file" name="productImage3" multiple="multiple" placeholder="insert the image of product" class="form-control" />
    <input type="text" name="title" placeholder="enter the title of image" class="form-control">
    <input type="number" name="price" placeholder="enter the price of product " class="form-control">
     <input type="text" name="description" placeholder="enter the discription of product" class="form-control">
    
    <button type="submit">save</button>
</form>    
