                        
                        
                    
                        <div>
                           
                          <form action=" /comment" method="POST">
                          <div class="pull-left">{{this.comments}}</div>
                          <input type="text" placeholder="write the comments" name="comment">
                          </form>
                         
                        </div>
                     