<form action='/demoInsert' method="POST" enctype="multipart/form-data">

    <input type="text" name="title" placeholder="enter the title of image" class="form-control">
    <input type="number" name="price" placeholder="enter the price of product " class="form-control">
     <input type="text" name="description" placeholder="enter the discription of product" class="form-control">
     <input type="file" name="image1"  placeholder="insert the image of product" class="form-control"/>
     <input type="file" name="image2"  placeholder="insert the image of product" class="form-control"  />
      <input type="file" name="image3"  placeholder="insert the image of product" class="form-control"  />
    <button type="submit">save</button>
</form>    
